@import url('https://fonts.googleapis.com/css?family=K2D')

bg = rgba(255, 255, 255, 1)
brdr = {
    light: rgba(99, 114, 130, .1),
    dark: rgba(182, 189, 197, .1)
}
fg = rgba(19, 20, 49, .8)
w = 300px
h = 100%

t-new = rgb(51, 153, 238)
t-fix = rgb(0, 217, 116)
t-bug = rgb(86, 77, 101)

scheme(cols)
    background: cols.bg
    color: cols.fg

    #tinylog
        b#changes, span#log
            background: rgba(cols.brdr, cols.a)
            border-color: cols.brdr

        .date
            &:before, &:after
                background: cols.brdr

        a, a:visited
            color: cols.fg

        ul#list
            border-color: cols.brdr

            li
                &.new:before
                    background: cols.t-new

                &.fix:before
                    background: cols.t-fix

                &.bug:before
                    background: cols.t-bug

                span
                    color bg

                    &.new
                        background: cols.t-new

                    &.fix
                        background: cols.t-fix

                    &.bug
                        background: cols.t-bug

body
    font 16px/1.1 K2D, sans-serif
    margin 0
    overflow hidden

    #tinylog
        margin 1rem 0
        height h

        b#changes, span#log
            width w + 4
            border: 1px solid brdr.light
            text-align center
            border-radius 0.25rem 0.25rem 0 0
            display block
            margin 0 auto
            padding 0.25rem 0

        span#log
            border-radius 0 0 0.25rem 0.25rem
            position relative

            > a
                margin 0 0.25rem

            #toggler
                position absolute
                right 1rem

        .date
            text-align center
            padding 0.25rem
            display block

            &:before, &:after
                content ''
                width 75px
                height 1px
                display inline-block
                margin-bottom 4px

            &:before
                margin-right 4px

            &:after
                margin-left 4px

        ul#list
            max-width w
            max-height calc(100% - 30px * 2 - 1rem * 2)
            box-sizing border-box
            list-style-type none
            border: 1px solid brdr.light
            border-top 0
            border-bottom 0
            display block
            margin 0 auto
            padding 1em 0
            overflow-y auto

            li
                display flex
                flex-direction column
                // margin 0.5rem 0
                position relative
                
                &:before
                    content ""
                    height auto
                    width 3px
                    background transparent
                    position absolute
                    top 0
                    left 0
                    bottom: 0

                span
                    width 3em
                    height 1.1em
                    text-align center
                    border-radius 0 .5rem .5rem 0
                    padding 0.4rem
                    margin-right 0.8rem
                    position relative

            p
                word-break break-word
                padding 0 1em

    scheme({
        bg: bg,
        fg: fg,
        brdr: brdr.light,
        t-new: t-new,
        t-fix: t-fix,
        t-bug: t-bug,
        a: 0.01
    })

    &.dark
        scheme({
            bg: fg,
            fg: bg,
            brdr: brdr.dark,
            t-new: t-new,
            t-fix: t-fix,
            t-bug: t-bug,
            a: 0.1
        })
